.nav{
    height: 5rem;
    width: 100vw;
    background-color:azure;
    display: grid;
    position: fixed;
    top:0;
    left: 0;
    z-index: 99;

    &__container{
        
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    &__logo{
        width: 5rem;
        margin-left: 20px;
    }

    &__menu{
        display: flex;
        gap: 4.5rem;
        align-items: center;
    }

    &__toggle-btn{
        display: none;
    }

    &__button {
        background-color: #ff6347;
        color: #fff;
        border: none;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-right: 20px;
    }
    
    &__button:hover {
        background-color: black
       }

}

 